.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h3 {
    user-select: none;
}

/*
*   global CSS
*/


img.icon {
    width: 50px;
    height: auto;
    margin: 5px 10px;
}

.tab_menu {
    height: 60px;
    width: 100%;
    background-color: #0064b4;
    z-index: +2;
}
.left{
    margin: auto 30px;
    float: left;
    display: flex;
}

.right{
    border-left: #001f3f solid 3px;
    height: 100%;
    width: fit-content;
    float: right;
    display: flex;
}
.right div{
    margin: auto 0;
}

.axis {
    position: absolute;
    display: flex;

}

.tab_title {
    vertical-align: center;
    font-size: 35px;
    margin: auto 0px;
    padding-right: 10px;
    color: white;
    border-right: #003A69 3px solid;
}

.virtical_toggler {
    position: absolute;
    margin: -20px 3px;
    top: 50%;
    width: 6px;
    height: 40px;
}

.virtical_toggler:hover {
    border: rgba(255, 255, 255, 0.5) 1px solid;
}

.virtical_toggler:active {
    background-color: white;
}

#table {
    background-color: #817e88;
}
