#Container{
    width: 100%;
    height: 100vh;
    background-color: white;

}

#blueprint{
    position: relative;
    width: 2000px;
    height: 1200px;
    background-color: #488acc;
    background-image: linear-gradient(rgba(255,255,255,0.2) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,0.2) 2px, transparent 1px),
    linear-gradient(rgba(255,255,255,0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
    background-size:200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}


.floor_plan_container {
    height: 95vh;
    width: 99%;
    position: absolute;
    margin: auto;
    padding: 3px;
    border: #0064b4 solid 1px;

}

.floor_plan {
    height: 99%;
    width: 95%;
    border: #0064b4 solid 2px;
    overflow: auto;
    position: absolute;
    margin: 5px auto 5px 5px;
}

#floor_plan_options{
    height: 100%;
    width: 100%;
    display: flex;
}

.floor_plan_options_button {
    width: 150px;
    display: flex;
    box-sizing: content-box;
    border-right: #003A69 1px solid;
    transition: background-color 250ms ease-in;
}

.floor_plan_options_button:hover {
    background-color: #007ce4;
}

.floor_plan_options_button div {
    margin: auto 0;
}

.option_title{
    margin-left: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 50%;
    float: left;
}


.option_nub{
    position: absolute;
    top: -2px;
    right: 50%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
    border: #282c34 1px solid;
    box-sizing: border-box;
    transition:right .5s ease-in-out;
}

.enabled .option_nub {
    right: -6%;
}

.option_slider{
    position: relative;
    width: 50px;
    height: 25px;
    background-color: #817e88;
    border: #151515 2px solid;
    box-sizing: border-box;
    border-radius: 25px;
    transition: background-color .5s ease-in-out;
}

.enabled .option_slider{
    background-color: #0064b4;
}



#floor_plan_info {
    position: sticky;
    bottom: 40px;
    left: 40px;
    border: white 2px solid;
    width: 150px;
    height: fit-content;
    display: block;
    background-color: #488acc;
}

#floor_plan_ratio {
    display: flex;
    height: 50px;
}

#floor_plan_ratio_square{
    margin: auto 0 auto 10px;
    width: 40px;
    height: 40px;
    border: #97bce2 2px solid;
}

#floor_plan_ratio_index{
    margin: auto;
    color: white;
    font-size: large;
}

#temperature_bar{
    border-top: #97bce2 1px dashed;
    position: relative;
    display: none;
    height: 50px;
    width: 100%;
    horiz-align: center;
}

#temperature_bar.visible{
    display: block;
}

#temperature_bar .temp_colors{
    width: 90%;
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
    border: #151515 3px solid;
    border-radius: 10px;
}

#temperature_bar ul{

    padding: 0;
    margin: 0 0 5px 0;
    list-style: none;
}

#temperature_bar ul li{
    display: inline;
    margin-right: 30px;
    color: white;
}

#temperature_bar ul li.first{
    margin-left: 6px;
}
#temperature_bar ul li.last{
    margin-left: 0;
}



