#menu_container {
    position: fixed;
    top: 0;
    width: 80px;
    border-top-right-radius: 15px;
    display: block;
    z-index: 2;
    transition: left 0.5s ease-in;
}
#menu_container.open_menu {
    left: 0;
}

#menu_container.closed_menu {
    left: -75px;
}

#main_menu {
    background-color: #0064b4;
    position: relative;
    height: 100%;
    left: -80px;
    width: fit-content;
    box-sizing: border-box;
}

.menu_title {
    display: flex;
    padding: 0 10px;
    height: 60px;
    background-color: #0064b4;
    transition: background-color 0.5s ease-out;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-right: #003A69 2px solid;
}

.menu_title:hover {
    background-color: #282c34;
}

.menu_title h3 {
    padding: 20px 0;
    color: white;
    vertical-align: center;
    margin: auto;
}

.menu_tab {
    left: 0px;
    height: 75px;
    width: 150px;
    background-color: #0064b4;
    position: relative;
    display: flex;
    text-align: center;
    border-right: #005091 1px solid;
    border-bottom: #003A69 1px solid;
    border-left: #97bce2 1px solid;
    border-top: #5a85b3 1px solid;
    box-sizing: border-box;
    transition: background-color 0.5s ease-out,
        left 0.5s ease-out,
        border-radius 0.5s ease-out,
        border-color 0.5s ease-out;
    border-radius: 0;
}

.menu_tab:hover {
    left: 75px;
    background-color: #003164;
    border-right: #001f3f 1px solid;
    border-bottom: #151515 1px solid;
    border-left: #004a96 1px solid;
    border-top: #005bb7 1px solid;
    border-radius: 0 20px 20px 0;
}

.menu_tab h3 {
    user-select: none;
    color: white;
    vertical-align: center;
    margin: auto;
}

.menu_tab img {
    width: 50px;
    height: 50px;
    margin: auto 10px;
}
