.node_container{
    display: flex;
    vertical-align: center;
    margin-left: -15px;
    margin-top: -25.5px;
    width: 55px;
    height: 55px;
    transition: width .5s ease-in-out;
    overflow: hidden;
}

.node_container:hover {
    overflow: auto;
    width: 130px;
}

.node_container:hover .node_name{
    visibility: visible;
    width: fit-content;
}

.node_name {
    width: 0;
    color: white;
    margin: 15px 0 0 50px;
    visibility: hidden;
}
