.title {
    position: absolute;
    top: 50%;
    left: 45%;
    flex: auto;
}

.room_temperature {
    width: 70px;
    height: 40px;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 26px;
}

.floor_plan_lights {
    height: 100%;
    width: 100%;
    display: inline;
}

.floor_plan_room {
    position: absolute;
    border: 4px white solid;
    box-sizing: border-box;
    justify-content: center;
}


.floor_plan_room:hover {
    border: 4px greenyellow solid;
}
.floor_plan_room:active {
    border: 4px gold solid;
}

.floor_plan_room_color {
    border: 1px darkgray solid;
    width: 100%;
    height: 100%;
    transition: background 10s ease-in-out;
}

.room_info{
    position: absolute;
    top: 0;
    left: 0;
    border: #151515 1px solid;
    border-left: none;
    border-radius: 0 10px 10px 0;
    width: 120px;
    background-color: #488acc;
    z-index: 3;
    transition: width 250ms ease-out;
}

.room_info.open{
    width: 120px;
}

.room_info.closed{
    width: 0px;
    border: none;
}

.room_info ul{
    list-style: none;
    text-align: left;
    padding-left: 3px;
    margin: 5px 0;
    visibility: visible;
}

.room_info.closed ul{
    visibility: hidden;
}

.room_info li{
    color: white;
    font-size: 14px;
    margin-left: 3px;
    margin-bottom: 2px;
    border-bottom: #003A69 1px dashed;
}
.room_info li.smaller{
    font-size: 10px;
    margin-left: 10px;
    border-bottom: none;
}