
.table_container{
    display: block;
}

.table_title_container {
    width:100%;
    border-bottom: #0064b4 solid 5px;
    display: flex;
    padding: 10px 20px;
    background-color: #0064b4;
    border-top: #001f3f 1px solid;
}
.table_title{
    padding: 5px;
    margin: auto 0;
    font-size: 30px;
    font-weight: bold;
    color: white;

}

.table_core{
    width: 100%;
    background-color: #e8f6ff;
    display: block;
}

.table_container div table{
    width: 90%;
    margin: 0px auto;
    border-collapse: collapse;
    display: table;
    background-color: #e8f6ff;

}

.table_container div.table_open{
    height: 400px;
    opacity: 100%;
    transition: opacity 0.5s ease-in-out, height 1.1s ease-in-out;
    overflow-y: scroll;
    background-color: white;
}


.table_container div.table_closed{
    transition: opacity 0.5s ease-in-out, height 1.1s ease-in-out, background-color 0.5s ease-out;
    height: 0px;
    opacity: 0%;
    overflow-y: scroll;
    background-color: transparent;
}

.table_option_container{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table_option_container button {
    width: 100px;
    margin: auto;
}

.on_option{
    background-color: #9fda99;
}

.off_option{
    background-color: #da9199;
}

tr {
    width: 100%;
    transition: visibility 0.5s;
}

.table_head tr{
    width: 100%;
    background-color: #97bce2;
    border-bottom: #9fda99 solid 5px;
}


tr {

    height: 50px;
}


td {
    height: inherit;
    border: #001f3f solid 2px;
}
